<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        const electron = require('electron');
        const ipc = electron.ipcRenderer;
        const remote = electron.remote;
        const Menu = remote.Menu;
        const template_menu = require('../modules/menu.js');
        const i18n = require('../modules/i18n.js').i18n;

        let menu = Menu.buildFromTemplate(template_menu);
        Menu.setApplicationMenu(menu);

        let dropdowns;

        document.addEventListener('DOMContentLoaded', function(){
            dropdowns = [];
            dropdowns.push(electron.remote.getGlobal('company'));
            dropdowns.push(electron.remote.getGlobal('driver'));
            dropdowns.push(electron.remote.getGlobal('clerk'));

            document.querySelector('aoa-edit').config = electron.remote.getGlobal('config');
            document.querySelector('aoa-main').dropdowns = dropdowns;
            document.querySelector('aoa-add').company = dropdowns[0];
            document.querySelector('aoa-add').driver = dropdowns[1];
            document.querySelector('aoa-add').clerk = dropdowns[2];
        });

        document.addEventListener('menu', function(event){
            if(event.detail.message.hasOwnProperty('tab')){
                document.querySelector('aoa-' + event.detail.message.page).tab = remote.getGlobal('config')['tabs'][event.detail.message.tab];
            }
            document.getElementById('sites').selected = remote.getGlobal('config')['sites'][event.detail.message.page];
        });

        document.addEventListener('add', function(event){
            ipc.send('add', event.detail.message);
        });

        document.addEventListener('edit', function(event){
            ipc.send('edit', event.detail.message);
        });
    </script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../modules/aoa-main.html">
    <link rel="import" href="../modules/aoa-edit.html">
    <link rel="import" href="../modules/aoa-add.html">
    <style>
        body {
            margin: 0px;
            font-family: 'Open Sans', sans-serif;
        }
    </style>

</head>
<body>
    <iron-pages id="sites" selected="0">
        <aoa-main></aoa-main>
        <aoa-edit tab="0"></aoa-edit>
        <aoa-add tab="0"></aoa-add>
    </iron-pages>
</body>
</html>