<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        const electron = require('electron');
        const remote = electron.remote;
        const Menu = remote.Menu;
        const template_menu = require('../modules/menu.js');
        const i18n = require('../modules/i18n.js').i18n;

        let menu = Menu.buildFromTemplate(template_menu);
        Menu.setApplicationMenu(menu);

        let dropdowns = [];

        document.addEventListener('DOMContentLoaded', function(){
            dropdowns.push(electron.remote.getGlobal('companies'));
            dropdowns.push(electron.remote.getGlobal('drivers'));
            dropdowns.push(electron.remote.getGlobal('clerks'));

            document.querySelector('aoa-main').dropdowns = dropdowns;
        });

        document.addEventListener('menu', function(event){
            if(event.detail.message.hasOwnProperty('tab')){
                document.querySelector('aoa-edit').tab = remote.getGlobal('config')['tabs'][event.detail.message.tab];
            }
            document.getElementById('sites').selected = remote.getGlobal('config')['sites'][event.detail.message.page];
        });
    </script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../modules/aoa-main.html">
    <link rel="import" href="../modules/aoa-edit.html">
    <style>
        body {
            margin: 0px;
            font-family: 'Open Sans', sans-serif;
        }
    </style>

</head>
<body>
    <iron-pages id="sites" selected="0">
        <aoa-main></aoa-main>
        <aoa-edit tab="0"></aoa-edit>
    </iron-pages>
</body>
</html>
<!--
dropdowns='[{"key":"COMPANY","items":["Company A","Company B","Company C"]},{"key": "DRIVER","items":["Driver Klaus","Driver Günther"]},{"key":"CLERK","items":["Clerk Ute","Clerk Monika"]}]'
-->